<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level][%logger{25}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.pheymann.scala.bft.util.RoundMessageCollectorActor" level="info" />
    <logger name="com.github.pheymann.scala.bft.util.StorageMessageCollectorActor" level="info" />
    <logger name="akka.event.EventStream" level="info"/>

    <root level="debug">
        <appender-ref ref="console"/>
    </root>
</configuration>